.div {
    padding: 0 20px;
    max-width: 700px;
    gap: 20px;
    display: flex;

    p {
        font-size: 16px;
        color: #454745;
        line-height: 20px;
        margin-bottom: 10px;
    }

    > div {
        width: 100% !important;
    }
}

.myTable {
    max-width: 700px;
    margin: 0 auto;
    td,
    th {
        border: 1px outset #9fe870;
    }
}

.hero {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 30px;
    max-width: 700px;
    margin: 0 auto;

    .text {
        font-size: 20px;
        font-weight: 500;
        padding: 0 20px;

        span {
            font-weight: 600;
            color: rgb(82, 122, 0);
        }
    }
}

.main {
    background-color: #163300;
    padding: 40px;
    h1 {
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        color: #9fe870;
    }
}

// ===================== RESPONSIVE =====================

@media (max-width: 750px) {
    .div {
        gap: 0;
        flex-direction: column;
    }

    .myTable {
        max-width: 300px;
    }

    .hero {
        max-width: 300px;
    }

    .main {
        padding: 20px;
    }
}
